body {
    background: #c66262 !important;
}

.taskUnlocked {
    border-radius: 20px !important;
    background: #c66262 !important;
    /* box-shadow: inset 15px 15px 30px #8d4646,
            inset -15px -15px 30px #ff7e7e !important; */
    box-shadow: inset 5px 5px 10px #a04f4f,
                inset -5px -5px 10px #ec7575 !important;
	padding: 45px !important;
	border: 0px !important;
}

.taskComlpeted {
    border-radius: 20px !important;
    background: #c66262 !important;
    /* box-shadow: inset 15px 15px 30px #8d4646,
            inset -15px -15px 30px #ff7e7e !important; */
    box-shadow: 5px 5px 10px #a04f4f,
                -5px -5px 10px #ec7575 !important;
	padding: 45px !important;
	border: 0px !important;
}

.button {
	/*border-radius: 50px !important;*/
	background: linear-gradient(145deg, #057fd5, #056bb3) !important;
	box-shadow:  1px 1px 2px #04548d,
             -1px -1px 2px #069aff !important;
}

div.taskProgressBarFrame {
	border-radius: 50px;
	background: linear-gradient(145deg, #ffffff, #d8d9da) !important;
	box-shadow:  1px 1px 2px #aaabac,
             -1px -1px 2px #ffffff !important;
}

div.taskProgressBar {
	border-radius: 50px;
	background: linear-gradient(145deg, #057fd5, #056bb3);
	box-shadow:  1px 1px 2px #04548d,
             -1px -1px 2px #069aff;
}

div.sidebarFrame {
	border-radius: 10px !important;
	background: #c66262 !important;
	box-shadow:  5px 5px 10px #a04f4f,
	             -5px -5px 10px #ec7575 !important;
	border: 0px !important;
}

div#leaderboardFrame, div#dailyGoalFrame {
	padding-top: 2px;
}

div#topRibbon {
	border-radius: 50px;
	background: linear-gradient(145deg, #b25858, #d46969);
	box-shadow:  5px 5px 10px #a04f4f,
	             -5px -5px 10px #ec7575;
	border: 0px !important;
}

div#dailyGoalProgressBarFrame {
	background: linear-gradient(145deg, #b25858, #d46969);
	box-shadow:  5px 5px 10px #a04f4f,
	             -5px -5px 10px #ec7575 !important;
}

#lessonSidebar {
	background: #c66262 !important;
	box-shadow: inset 5px 5px 10px #a04f4f,
				inset -5px -5px 10px #ec7575 !important;
    border: 0px !important;
}

div#sectionLinks {
    background: #c66262 !important;
}

.step {
    /* background: linear-gradient(145deg, #b25858, #d46969) !important; */
    background: #c66262 !important;
    box-shadow:  5px 5px 10px #a04f4f,
                -5px -5px 10px #ec7575 !important;
    border: 0px !important;
}

div.choiceLetterCircle {
    background: linear-gradient(145deg, #d46969, #b25858) !important;
    box-shadow:  5px 5px 10px #a04f4f,
                -5px -5px 10px #ec7575;
    border: none !important;
}

div.choiceLetterCircle:hover {
    background: linear-gradient(145deg, #b25858, #d46969) !important;
    box-shadow:  5px 5px 10px #a04f4f,
                -5px -5px 10px #ec7575;
}

div.selectedChoice {
    background: linear-gradient(145deg, #783737, #8e4141) !important;
    box-shadow:  5px 5px 10px #6c3131,
                -5px -5px 10px #9e4949 !important;
}

td.leaderboardUserPoints {
	text-shadow: 1px 1px 2px #a04f4f,
	             -1px -1px 2px #ec7575 !important;
}